<% include ./partials/header.ejs %>
<h1> This is the blogs page </h1>

<% blogs.forEach(function(blogs){ %>
	<div>
		<h2> <%= blogs.title %>  </h2>
		<img src ="<%= blogs.image %>">
		<span> <%= blogs.create %> </span>
		<p> <%= blogs.body %></p>
	</div>
	
<% }); %>

<% include ./partials/footer.ejs %>